model developement/data scraping/valid_proxies/*.txt
model developement/data scraping/test_utils/
model developement/data scraping/.pytest_cache/
model developement/data scraping/utils/__pycache__/